/* Style for all paragraphs */
p {
    color: #333333;
    font-size: 16px;
}

/* Style for all level 2 headings */
h2 {
    color: #990000;
    font-size: 24px;
}

/* Style for all tables with a border and border color */
table, td, th {
    border-style: solid;
    border-width: 3px;
    border-color: #990000;
    border-collapse: collapse;
}

p#fun-fact {
    font-style: italic;
    font-weight: bold;
}

.smith-red {
    color: #990000;
}

img.logo {
    width: 267px;
    height: 72px;
}

